// Place all the styles related to the Tourneys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-div {
    float: left;
    width: 120px;
    padding: 0.5em; 
    margin-right: 8px;
}
.middle-div {
    float: left;
    width: 50px;
	padding: 0.5em; 
	margin: 0px;
}​
.right-div {
    float: left;
    width: 120px;
    padding: 0.5em; 
    margin-left: 208px;
}
.side-by-side {
    float: left;
    width: 300px;
    padding: 1.5em; 
    margin: 0px;
    background-color: linen;
}​
.draggable {  padding: 0.5em; float: left; margin: 0px 0px 0px 0; }
.droppable { padding: 0.5em; float: left; margin: 0px; }
.matchups {clear:both; min-width: 280;}
.scores {clear:both;float: left;}
.edit-match {clear:both;float: left;}
.editMatchButton:hover {
 cursor:pointer;
}
.player-preview {clear:both;float: left;; min-width: 280;}
.player-list {
    float: left;
    width: 120px;
    margin-right: 8px;
}
.entrant_names, .entrant_emails {
    float: left;
    min-width: 150px;
    margin-right: 8px;
    overflow:hidden; overflow-y:scroll;
}
.entrant_names {
    clear: both;
}
.entrant_names ul, .entrant_emails ul {
    min-width: 150px;
    overflow:hidden; overflow-y:scroll;
}
.left-button {
    float: left;
    width: 120px;
    margin-right: 8px;
}
.add_player_section {
    float: left;
    width: 300px;
    margin_right:8px;    
}
.remove_player_section {
    float: left;
    min_width: 300px;
}
.add_and_remove_section {clear:both;float: left;; min-width: 280;}

.leftDialogButton
{
    position: absolute;
    left:8px;
    top: 400px;
    margin-right: 170px;
}
