// Place all the styles related to the Tourneys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.static-div {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: inline-block;
}

.middle-div {
    float: left;
    width: 50px;
    padding: 0.5em; 
    margin: 0px;
    overflow: hidden;
}​

.middle-div2 {
    float: left;
    margin-left: 0px;
}​

.left-div {
    float: left;
    width: 120px;
    padding: 0.5em; 
    margin-left: 0px;
    overflow: hidden;
}
.left-div2 {
    float: left;
    width: 120px;
    margin-left: 0px;
}

.right-div {
    float: left;
    width: 120px;
    padding: 0.5em; 
    overflow: hidden;
}

.right-div2 {
    float: left;
    width: 80px;
    margin-left: 0px;
}

.side-by-side {
    float: left;
    width: 300px;
    padding: 1.5em; 
    margin: 0px;
}​

.scores {clear:both; float: left;}

.draggable {  padding: 0.5em; float: left; margin: 0px 0px 0px 0; }

.droppable { padding: 0.5em; float: left; margin: 0px; }

.round {
    clear:both; 
    min-width: 280;
    width: 100%;
}

.matchup {}

.player {}
.player:hover {
    cursor:pointer;
}


.edit-match {
    clear:both;
    float: left;
}

.vertical-divider {
    clear:both;
}

.editMatchButton {
    clear:both;
    width:100%;
}
.editMatchButton:hover {
    cursor:pointer;
}

.player-preview {clear:both;float: left;; min-width: 280;}
.player-list {
    float: left;
    width: 120px;
    margin-right: 8px;
}
.entrant_names, .entrant_emails {
    float: left;
    min-width: 150px;
    margin-right: 8px;
    overflow:hidden; overflow-y:scroll;
}
.entrant_names {
    clear: both;
}
.entrant_names ul, .entrant_emails ul {
    min-width: 150px;
    overflow:hidden; overflow-y:scroll;
}
.left-button {
    float: left;
    width: 120px;
    margin-right: 8px;
}
.add_player_section {
    float: left;
    width: 300px;
    margin_right:8px;    
}
.remove_player_section {
    float: left;
    min_width: 300px;
}
.add_and_remove_section {clear:both;float: left;; min-width: 280;}

.leftDialogButton
{
    position: absolute;
    left:8px;
    top: 400px;
    margin-right: 170px;
}

.hidden-section
{
    display: none;
    clear: both;
}

#entrant_names {
    multiple: multiple;
    size:"10";
}
